@model IEnumerable<ConsumeAPI.Models.PersonModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Person List</h2>

<p>
    <a class="btn btn-outline-primary" asp-controller="Person" asp-action="PersonAdd">Add Person</a>
</p>
<p>
    @TempData["Message"]
</p>

<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Person ID</th>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="col">@item.PersonID</th>
                <th scope="col">@item.Name</th>
                <th scope="col">@item.Contact</th>
                <th scope="col">@item.Email</th>
                <th scope="col">@item.CityName</th>
                <td scope="col">
                    <a href="@Url.Action("PersonAdd","Person",new {PersonID = item.PersonID})" class="btn btn-info m-2"> Edit</a>
                    <a href="@Url.Action("Delete","Person",new {PersonID = item.PersonID})" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>